<mat-card class="card-login">
  <h1>Welcome</h1>
  <form class="example-form">
    <mat-form-field class="login-input">
      <input matInput placeholder="Username" value="" />
    </mat-form-field>

    <mat-form-field class="login-input">
      <input matInput password placeholder="Password" value="" />
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">Register</button>
  <button class="login-button" mat-raised-button color="primary">Log In</button>
</mat-card>
