<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      Deletar
    </th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button color="primary" (click)="deleteNews(row)">Delete</button>
    </td>
  </ng-container>

  <!-- Theme Column -->
  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef>Tema</th>
    <td mat-cell *matCellDef="let element">{{ element.theme }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Título</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Subtitle Column -->
  <ng-container matColumnDef="sub_title">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element">{{ element.sub_title }}</td>
  </ng-container>

  <!-- Image_url Column -->
  <ng-container matColumnDef="image_url">
    <th mat-header-cell *matHeaderCellDef>Link para imagem</th>
    <td mat-cell *matCellDef="let element">{{ element.image_url }}</td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>Link</th>
    <td mat-cell *matCellDef="let element">{{ element.url }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button class="buttonAdd" color="primary" mat-raised-button (click)="openBottomSheet()">Adicionar Notícia</button>
